/*========header=======*/
$color-header: #000000;
$color-header-hover: #FB565A;
$color-header-active: rgba(0, 0, 0, 0.3);
/*=======slider========*/
$color-slider: #283136;
/*========main-btn*/
$color-main-btn: #FFFFFF;
$background-main-btn: #FB565A;
