/*========header=======*/
$header-background: #eeeeee;
$color-header: #000000;
$color-header-hover: #FB565A;
$color-header-active: rgba(0, 0, 0, 0.3);
/*=======slider========*/
$color-slider: #283136;
$col-slider-button-active: rgba(255, 255, 255, 0.3);
$back-slider-button-hover: #E74246;
$back-slider-button-active: #D7373B;
/*========main-btn*/
$color-main-btn: #FFFFFF;
$background-main-btn: #FB565A;
/*=======features========*/
$col-features-title: #000000;
$col-features-text: #283136;
$col-features-button-active: rgba(255, 255, 255, 0.3);
$back-features-button-hover: #E74246;
$back-features-button-active: #D7373B;
$back-features-link-green: #00CA74;
$back-features-green-button-hover: #00BC6C;
$back-features-green-button-active: #00AA62;
$back-features-link-yellow: #EFC849;
$back-features-yellow-button-hover: #EAB534;
$back-features-yellow-button-active: #E5A722;
$back-features-border: #eeeeee;
/*========services and statistics========*/
$back-services-and-statistics-border: #eeeeee;
/*========services========*/
$col-services-title: #000000;
$col-services-text: #283136;
$back-services-hyphen: #FB565A;
/*=======statistics=======*/
$col-statistics-text: #000000;
$col-statistics-item-text: #283136;
/*=======sample=========*/
$back-sample-section-border: #eeeeee;
$back-sample-border: #000000;
/*=======contact========*/
$col-contact-title: #000000;
$col-contact-address: #666666;
/*=======footer============*/
$col-footer-text:#444444;
$col-footer-slogan-text:#000000;
/*==========popup=========*/
$col-popup-title: #000000;
$back-popup: #ffffff;
$col-popup-label: #000000;
$bord-popup-input: #D7DCDE;
$col-popup-input: #444444;
