
.basket__link {
  position: relative;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.05;
  color: $color-header;
}

.basket__link:hover{
  color: $color-header-hover;
}

.basket__link:active{
  color: $color-header-active;
}

.basket__link::before{
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  left: -25px;
  top: 2px;
  background-image: url("../images/basket/cart-icon.svg") ;
}
